### these files/directories will be ignored by GIT

# directories
compile/

# executables
scrip
scrip_db
scrip_test
scrip_test_db
scrip_test_repeat
scrip_test_repeat_db
scrip_regrid
scrip_regrid_db

# netcdf files
*.nc

# other
.svnignore
